.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);

  width: 70px;
  height: 70px;
}
.item:last-child {
  border-right: 0;
}
.label {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}
.percentage {
  composes: label;
  margin-bottom: 0px;
}
